* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* nav */

.hero {
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgb(65, 63, 63), rgb(22, 21, 21));
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: black;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: rgb(37, 107, 229);
}


nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(37, 107, 229);
    transition: .5s;
}

/* content */

.content{
    position: absolute;
    top: 50%;
    left: 30%;
}

h1 {
    color: white;
    margin:  20px 0px 20px;
    font-size: 50px;
}

h3 {
    color: rgb(160, 204, 234);
    font-family: fantasy;
}

h2 {
    color: white;
    letter-spacing: 2px;
    position: relative;right: -30px;
}
/* about me */
.main{
    height: 100vh;
}

.about {
    background: linear-gradient(to right, rgb(65, 63, 63), rgb(22, 21, 21));
    display: flex;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin-top: 50px;
    margin-left: 40%;
    border-radius: 30%;
    padding: 10px;
}

.aboutme {
    display: block;
    margin-left: 37%;
    width: 800px;
    height: 300px;
    margin-left: 37%;
    border: 3px solid white;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }

}

h4 {
    font-size: 75px;
    margin-left: 30%;
    color: rgb(37, 107, 229);
}

p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}



/* Projects */

.skills {
    height: 100vh;
    background: linear-gradient(to right, rgb(65, 63, 63), rgb(22, 21, 21));
    display: flex;
}

.cards {
    height: 500px;
    width: 1200px;
    background-color: white;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}


.card1 {
    width: 200px;
    height: 300px;
    background-color: rgb(44, 44, 44);
    margin-top: 100px;
    border-radius: 25px;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}


.card2 {
    width: 300px;
    height: 400px;
    background-color: rgb(44, 44, 44);
    margin-top: 50px;
    border-radius: 25px;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

.card3 {
    width: 200px;
    height: 300px;
    background-color: rgb(44, 44, 44);
    margin-top: 100px;
    border-radius: 25px;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 6);
        transform: translateY(0px);
    }
    50%{
        box-shadow: 0px 25px 15px 0px rgba(0, 0, 0, 2);
        transform: translateY(0px);
    }
    100%{
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 6);
        transform: translateY(0px);
    }
}
